.button 
    &-link 
        width 100%
        line-height 32px
        text-shadow 1px 1px 6px black
        font-weight bolder
        transition .3s
        &:hover 
            text-decoration underline