.footer 
    border-top 2px solid white
    &-system
        height 22px 
        width 60px
.copyright 
    display flex 
    justify-content space-between
    padding 0 .5em

@media (min-width: 576px)
    .copyright 
        padding 0 2em
    .footer 
        min-height 26px
        line-height 20px
        height 3vh